<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <h1 class="mb-3">로그인</h1>
    <form id="sign_in_form" class="mb-3" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <a href="/sign-up" class="card-link">회원 가입</a>
    <script>
        $("#sign_in_form").on("submit", function (event) {
            event.preventDefault();
            let signInFormObject = $("#sign_in_form").serializeObject();

            $.ajax({
                url: "http://localhost:8081/api/login",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(signInFormObject),
                success: function (data, status) {
                    if (status === "success") {
                        loginSuccessReturn(data);
                    }
                }
            });
        });

        function loginSuccessReturn(data) {
            let accessToken = data.accessToken;
            let refreshToken = data.refreshToken;

            console.log(accessToken);
            console.log(refreshToken);

            localStorage.setItem("accessToken", accessToken);
            localStorage.setItem("refreshToken", refreshToken);

            location.href = "/application";
        }
    </script>
</div>
</html>