<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <h1 class="mb-3">회원가입</h1>
    <form id="sign_up_form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">이메일</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" name="password" class="form-control" id="password1">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="password2" class="form-label">비밀번호 확인</label>-->
<!--            <input type="password" name="password" class="form-control" id="password2">-->
<!--        </div>-->
<!--        <div class="form-check mb-3">-->
<!--            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">-->
<!--            <label class="form-check-label" for="flexRadioDefault1">-->
<!--                개인 정보 이용에 동의하십니까?-->
<!--            </label>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
    <script>
        $("form").on("submit", function(event) {
            event.preventDefault();

            const SIGNUP_FORM_DATA = $("#sign_up_form");

            let signUpFormDataObject = SIGNUP_FORM_DATA.serializeObject();
            console.log(signUpFormDataObject);

            $.post("http://localhost:8081/api/member",
                JSON.stringify(signUpFormDataObject),
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                    location.href = "http://localhost:8080/sign-in";
                }
            );
        });
    </script>
</div>
</html>