<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div class="row justify-content-md-center">
        <h3 class="mb-3">전체 애플리케이션(3)</h3>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#staticBackdrop">
            애플리케이션 추가하기
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticModalLabel">애플리케이션 추가</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="application_create_form" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="name" class="form-label">애플리케이션 이름</label>
                                <input type="text" class="form-control" name="name" id="name"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="company" class="form-label">회사명</label>
                                <input type="text" class="form-control" name="company" id="company">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="application_list" class="list-group">

        </div>
    </div>
    <script>
        let accessToken = "";

        $(document).ready(function () {
            setToken(loadData);
        });

        function setToken() {
            accessToken = localStorage.getItem("accessToken");
            console.log("accessToken: " + accessToken);
            loadData();
        }

        function loadData() {
            $.ajax({
                url: "http://localhost:8081/api/application",
                type: 'GET',
                headers: {
                    "Authorization": 'Bearer ' + accessToken
                },
                success: function (data, status) {
                    if (status === "success") {
                        // console.log("Data: " + JSON.stringify(data));
                        showApplication(data);
                    }
                }
            });
        };

        function showApplication(appList) {
            for (idx in appList) {
                // console.log(appList[idx]);

                let app = `<a href="/application/${appList[idx].name}" class="list-group-item list-group-item-action mb-3" aria-current="true">
                               <div class="d-flex w-100 justify-content-between">
                                   <h5 class="mb-1">${appList[idx].name}</h5>
                               </div>
                               <p class="mb-1">${appList[idx].company}</p>
                           </a>
                        `;

                $("#application_list").append(app);
            }
        }

        $("form").on("submit", function (event) {
            event.preventDefault();

            let applicationCreateForm = $("#application_create_form").serializeObject();

            $.ajax({
                url: "http://localhost:8081/api/application",
                type: 'POST',
                headers: {
                    "Authorization": 'Bearer ' + accessToken
                },
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(applicationCreateForm),
                success: function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                    loadData();
                }
            });
        });
    </script>
</div>
</html>